importFrom("graphics", "plot") ## we need the generic for plot

importFrom("proxy", "dist")

## get generics and methods
importFrom("Matrix", "rowSums", "colSums", "colMeans", "summary")
## get just methods
importMethodsFrom("Matrix", "image", "t", "crossprod")

## get generics and methods
importFrom("arules", "predict", "nitems", "sample", "LIST", 
    "dissimilarity")
## get just methods
importMethodsFrom("arules", "sort", "summary")

## registry uses S3
export("recommenderRegistry")
S3method("print", "recommender_method")

## recommenderlab exports
exportClasses(
		"ratingMatrix",
		"realRatingMatrix",
		"binaryRatingMatrix",
		"Recommender",
		"topNList",
		"evaluationScheme",
		"confusionMatrix",
		"evaluationResults",
		"evaluationResultList"
		)

exportMethods(
		"[",
		"coerce",	## setAs
		"show",
		"plot",
		"image",
		"sample",
		"summary",
		"predict",
		"dissimilarity",
		"colMeans",
		"rowMeans",
		"colCounts",
		"rowCounts",
		"LIST",
		"binarize",
		"avg",
		"evaluate",
		"bestN",
		"nratings",
		"nitems",
		"nusers",
		"getRuns",
		"getModel",
		"getData",
		"getConfusionMatrix",
		"dissimilarity",
		"evaluationScheme",
		"Recommender"
		)
